* {
  box-sizing: border-box
} 

body {
  background-color: rgb(146, 206, 206);
  background-image: url("../css/background.jpg");
  position: relative;
  font-family: "Bangers", cursive;
}

/* Navbar styling */
.navbarContainer  { 
    border: solid #555; 
    background-color: white;
    height: 65px;
     
}
    
.navbar-text {
  font-size: 20px;
  text-decoration: double underline 5px rgb(206, 121, 25);

  
  font-size: 30px;  
}

.navbarContainer img {
    width: 40px;
    height: 40px;
    margin-top: -23px;
} 
    
.headerText {
   text-align: right;
   margin-top: -50px;
   font-size: 24px;
   margin-right: 2%;
}
    
.quote {
    font-family: "Bangers", cursive;
    font-size: 32px;
    margin: 10px;
    margin-top: -30px;
    text-shadow: 3px 3px rgb(117, 117, 94); 
    text-align: center;
}

/* Button styling */
.btn {
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  color: #000;
  background: #fff;
  line-height: 15px;
  border-radius: 15px;
  padding: 8px;
  font-size: 20px;
  font-weight: 400;
  box-shadow: rgb(255, 198, 0) -2px -2px 0px 2px,
    rgb(246, 84, 174) 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
  transition: all 0.2s;
  float: right;
  margin-top: 20px;
}

.puppy {
  border: 10px solid #555;
  box-shadow: 5px 5px 5px rgb(163, 159, 159);
  margin-top: 50px;
  margin-bottom: 65px;
  margin-left: 85px;
  position: relative;
  height: 25%;
  width: 25%;
}

.cat {
  border: 10px solid #555;
  box-shadow: 5px 5px 5px rgb(163, 159, 159);
  margin-top: 50px;
  margin-bottom: 65px;
  margin-left: 65px;
  position: relative;
  height: 25%;
  width: 25%;
}

/* Search area styling */
.zip-code {
  margin: 15px;
  box-shadow: rgb(255, 198, 0) -2px -2px 0px 2px,
    rgb(246, 84, 174) 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
}

.dropdown-container {
    flex-direction: column;
    align-items: right;
    display: flex;
    width: 110%;
}

.dropdown-menu {
    width: 93%;
    margin-left: 10px;
    margin-right: 10px;
}

.animal-type-div {
    margin-right: 30px;
}

.containerSearch {
  float: right;
  width: 30%;
  margin-right: 20px; 
  margin-top: 10px;
  padding-right: 20px;
}

/* Pet Modal Styling */
#myModal {
    background-color: rgba(146, 146, 146, 0.89);
}

.modal-content {
    background-color: rgb(78, 137, 172);
    font-family: "Bangers", cursive;
}

.pulledPetDescriptors {
    list-style-type: none;
}

.pulled-pet-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#MyModalLabel {
    font-weight: bold;
    display: block;
    width: 100%;
    text-align: center;
}

/* Error modal styling */
.error-modal h3 {
    font-size: 42px;
    text-align: center;
    width: 100%;
    padding-bottom: 0;
    margin-bottom: 0;
}

.error-modal p {
  font-size: 26px;
  padding: 3px;
  margin: 3px;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: 18px;
  text-align: center;
}

.error-pet-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: 5px solid #555;
  box-shadow: none;
  margin-top: 5px;
  margin-bottom: 5px;
}

.error-footer {
  position: relative;
  padding: 25px;
  padding-top: 35px;
  margin-top: 0;
}

.error-close {
  padding: 8px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* Saved Pet Buttons Styling */
.container3 {
    margin-left: 15px;
}

.container3 ul {
    list-style-type: none;
}

.generated-pet-ID-btn {
    padding: 10px;
    font-size: 20px;
    float: right;
    width: 110%;
    margin-left: 10px;
}

.search-btn {
    width: 93%;
    margin-left: 10px;
    margin-right: 10px;
    padding: 12px;
}

/* footer styling */
footer {
  background-color: honeydew;
  width: 100%;
  position: fixed;
  bottom: 0px;
  height: 48px;
  text-align: center;    
}

.fab { 
  color: grey;
}

a {
  margin-right: 15px;
  font-size: 25px;
  color:  rgb(121, 121, 121);
}

.row {
  margin-right: 25px;
}

@media (max-width: 575.98px)
{
  .navbar-text { display: flex; flex-direction: column; padding-top: 0px;}
  
  .headerText { display: flex; flex-direction: column; padding-top: 50px;}
  
  h2 { flex-direction: column; padding-top: 50px;}
  
 .puppy, .cat {align-items: center; flex-direction: column;}
 
 .quote {padding-bottom: 30px;}

.container3 {display: flex; flex-wrap: wrap; padding:10px; align-items:stretch; }
 

.main-container, .dropdown-container {display: flex; flex-direction: column; align-items: center;

  }

  .containerSearch {width:40%;}
}