.logo {
  width: 350px;
  height: 350px;
}

.btn {
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  color: #000;
  background: #fff;
  line-height: 15px;
  border-radius: 15px;
  padding: 15px;
  font-size: 30px;
  font-weight: 400;
  box-shadow: rgb(255, 198, 0) -2px -2px 0px 2px,
    rgb(246, 84, 174) 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
  transition: all 0.2s;
}

.zip-code {
  margin: 20px;
  box-shadow: rgb(255, 198, 0) -2px -2px 0px 2px,
    rgb(246, 84, 174) 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;

}
